<div class="col-md-6 ucars-container">
  <h2 style="margin: auto"> Used Car Details</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addUcars()"> Add Cars</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>#</th>
      <th>Car name	</th>
      <th>Car model</th>
      <th>Company Name</th>
      <th>Color</th>
      <th>Mileage</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor='let ucar of ucars; let ndx = index'>
      <td class="hidden">{{ucar.id}}</td>
      <td>{{ndx+1}}</td>
      <td>{{ucar.carname}}</td>
      <td>{{ucar.carmodel}}</td>
      <td>{{ucar.company_name}}</td>
      <td>{{ucar.color}}</td>
      <td>{{ucar.mileage}}</td>

    </tr>
    </tbody>
  </table>
</div>