<div class="col-md-6 ucars-container">
  <h2 class="text-center">Add ucars</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ucarsname">Car Name:</label>
      <input type="text" formControlName="carname" placeholder="carname" name="carname" class="form-control" id="carname">
    </div>

    <div class="form-group">
      <label for="carmodel">Car Model:</label>
      <input type="carmodel" formControlName="carmodel" placeholder="carmodel" name="carmodel" class="form-control" id="carmodel">
    </div>

    <div class="form-group">
      <label for="company_name">Company Name:</label>
      <input formControlName="company_name" placeholder="Company Name" name="company_name" class="form-control" id="company_name">
    </div>

    <div class="form-group">
      <label for="color">Color:</label>
      <input formControlName="color" placeholder="Last name" name="Color" class="form-control" id="color">
    </div>

    <div class="form-group">
      <label for="mileage">mileage:</label>
      <input type="number" formControlName="mileage" placeholder="Mileage" name="mileage" class="form-control" id="mileage">
    </div>

    <div class="form-group">
      <label for="seating_capacity">Seating Capacity:</label>
      <input type="number" formControlName="seating_capacity" placeholder="Seating Capacity" name="seating_capacity" class="form-control" id="seating_capacity">
    </div>

    <div class="form-group">
      <label for="company_name">Steering Type:</label>
      <input formControlName="steering_type" placeholder="Steering Type" name="steering_type" class="form-control" id="steering_type">
    </div>

    <div class="form-group">
      <label for="company_name">Displacement CC:</label>
      <input formControlName="displacement_cc" placeholder="CC" name="displacement_cc" class="form-control" id="displacement_cc">
    </div>
    <div class="form-group">
     <label for="seating_capacity">Year:</label>
     <input type="number" formControlName="year" placeholder="year" name="seating_capacity" class="form-control" id="year">
    </div>    
    <button class="btn btn-success">Add</button>
  </form>
</div>
