<div class="row">

  <div class="col-md-6 register-container">
    <h2 style="margin: auto">Register </h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="person_name">Person Name:</label>
        <input type="text" class="form-control" formControlName="person_name" id="person_name" autocomplete="off">
        <div class="error" *ngIf="registerForm.controls['person_name'].hasError('required') && registerForm.controls['person_name'].touched">Person Name is required</div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off">
        <div class="error" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">Email is required</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
        <div class="error" *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">Password is required</div>
      </div>
      <div class="form-group">
        <label for="cpassword">Confirm Password:</label>
        <input type="password" class="form-control" formControlName="cpassword" id="cpassword" autocomplete="off">
        <div class="error" *ngIf="registerForm.controls['cpassword'].hasError('required') && registerForm.controls['cpassword'].touched">Confirm Password is required</div>
      </div>
      <button class="btn btn-success"> Register</button>
    </form>
  </div>
</div>
